@*{
        @ViewBag.Title = "Index";
    }*@

<h2>News</h2>


@using (Html.BeginForm())
{

    <input type="date" name="reportDate" />
    <input type="submit" />
}
<br>

@ViewBag.date
<br>

<br>
<div id="message">@(new HtmlString(@ViewBag.headline))</div>
<br>
<div id="message">@(new HtmlString(@ViewBag.lead))</div>
<br>
<div id="message">@(new HtmlString(@ViewBag.snippet))</div>
<br>
<div id="message">@(new HtmlString(@ViewBag.url))</div>


