@*{
        @ViewBag.Title = "Index";
    }*@


<div class="jumbotron">
    <div class="centered text-center">

        <div class="container">

            <h2>News</h2>


            @using (Html.BeginForm())
            {

                <input type="date" name="reportDate" />
                <input type="submit" />
            }
            <br>

            @ViewBag.date
            <br>

            <br>




            @*            <h3>@ViewBag.headline</h3>*@
  @*          <span class='summaryfont'>@ViewBag.headline)</span>*@
            <br>
            <h4>@ViewBag.lead </h4>
            @*    <div id="message">@(new HtmlString(@ViewBag.lead))</div>*@


            <br>
            <h5>@ViewBag.snippet</h5>
            @*<div id="message">@(new HtmlString(@ViewBag.snippet))</div>*@
            @*            <div id="message">@(new HtmlString(@ViewBag.snippet))</div>*@
            <br>
            <br>

            <h5>To see the full article see below</h5>
            <h6>@ViewBag.url</h6>

        </div>
    </div>




</div>