@model WeatherApp.Models.Coordinates


<link href="~/Content/css/StyleSheet.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@*<script src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>





<br />





<div class="jumbotron">


    <div class="row">
        <div class="col-sm-5"></div>


        @using (Html.BeginForm())
        {
            <input type="text" value="Search" name="reportName" required />
            <input type="submit" value="Search" required />
        }

    </div>

    <br>
    <br>
    <div class=container>
        <div class="row">
            <div class="col-sm-2">
                <span class='tempfont'>WindSpeed:</span>
                @ViewBag.CWindspeed m/s
                @*@ViewBag.CWindbearing direction later*@
                <i class="wi wi-night-sleet"></i>
            </div>
            <div class="col-sm-2">
                <span class='tempfont'>Humidity:</span>
                @ViewBag.CHumidity %
            </div>
            <div class="col-sm-2">
                <span class='tempfont'>DewPoint:</span>
                @ViewBag.CDewpoint
            </div>
            <div class="col-sm-2">
                <span class='tempfont'>UVindex:</span>
                @ViewBag.CUvindex
            </div>
            <div class="col-sm-2">
                <span class='tempfont'>Visibilty:</span>
                @ViewBag.CVisibility k/m
            </div>
            <div class="col-sm-2">
                <span class='tempfont'>Pressure:</span>
                @ViewBag.CPressure hPa
            </div>
        </div>
    </div>

    <br>
    <br>



    <div class="container">
        <div class="centered text-center">

            <!--
                <span class="partly-cloudy-day-icon-currently currently-icon swip">
                    <img width="84" height="84" src="/images/weather-icons/partly-cloudy-day.png" alt="partly-cloudy-day Icon">
                </span>
                    if is then else then ....@ViewBag.Cicon -->

            <span class='summaryfont'>@ViewBag.Ctemperature&#176;  </span>
            <span class='summaryfont'>@ViewBag.CSummary</span>
        </div>
    </div>


    <br>
    <br>

    @*Script for changing the fonts based on icons issued from API*@
    @*<script src="~/Scripts/Conditions.js"></script>
        <div class="container">
        </div>
        <div id="Conditions" style="height: 200px;"></div>*@


    <!--

    Thia will be for hourly weather
        just need the summary  and time
        -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load("current", { packages: ["timeline"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var container = document.getElementById('Hourly');

            var chart = new google.visualization.Timeline(container);

            var dataTableHourly = new google.visualization.DataTable();
            dataTableHourly.addColumn({ type: 'string', id: 'Today' });
            dataTableHourly.addColumn({ type: 'string', id: 'Summary' });
            dataTableHourly.addColumn({ type: 'date', id: 'Start' });
            dataTableHourly.addColumn({ type: 'date', id: 'End' });

            dataTableHourly.addRows([


                ['Today', '@ViewBag.HourlySummary0', new Date(@ViewBag.HourlyDate0) , new Date(@ViewBag.HourlyDate1)],
                ['Today', '@ViewBag.HourlySummary1', new Date(@ViewBag.HourlyDate1) , new Date(@ViewBag.HourlyDate2)],
                ['Today', '@ViewBag.HourlySummary2', new Date(@ViewBag.HourlyDate2) , new Date(@ViewBag.HourlyDate3)],
                ['Today', '@ViewBag.HourlySummary3', new Date(@ViewBag.HourlyDate3) , new Date(@ViewBag.HourlyDate4)],

            ]);

            chart.draw(dataTableHourly);
        }
    </script>

    <!--Div for google hourly table -->
    <div class="container">
    </div>
    <div id="Hourly" style="height: 200px;"></div>


    <br>

    @*<button onclick="myFunction()">See graphs</button>*@


    <div id="chartPressure"></div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />

    <div id="chartHumitity"></div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />

    <div id="chartTemperature"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />

    <div id="chartDewpoint"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />

    <div id="chartUv"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />


    <div id="chartWind"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />



    <br>
    <br>


    <br>
    <br>


        <h2>This weeks weather</h2>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["timeline"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var container = document.getElementById('Weekly');

            var chart = new google.visualization.Timeline(container);

            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Week Overview' });
            dataTable.addColumn({ type: 'string', id: 'Summary' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            dataTable.addRows([

                ['This Week', '@ViewBag.DailySummary0', new Date(@ViewBag.Date0) , new Date(@ViewBag.Date1)],
                ['This Week', '@ViewBag.DailySummary1', new Date(@ViewBag.Date1) , new Date(@ViewBag.Date2)],
                ['This Week', '@ViewBag.DailySummary2', new Date(@ViewBag.Date2) , new Date(@ViewBag.Date3)],
                ['This Week', '@ViewBag.DailySummary3', new Date(@ViewBag.Date3) , new Date(@ViewBag.Date4)],
                ['This Week', '@ViewBag.DailySummary4', new Date(@ViewBag.Date4) , new Date(@ViewBag.Date5)],
                ['This Week', '@ViewBag.DailySummary5', new Date(@ViewBag.Date5) , new Date(@ViewBag.Date6)],
                ['This Week', '@ViewBag.DailySummary6', new Date(@ViewBag.Date6) , new Date(@ViewBag.Date7)],

            ]);

            chart.draw(dataTable);
        }
    </script>


    <div class="container">
    </div>
    <div id="Weekly" style="height: 200px;"></div>

    <div class="container">
        <h2>Weekly review</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Today</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">


                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary1;
                                </th>

                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@ViewBag.Day1</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary2;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> @ViewBag.Day2 </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary3;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">@ViewBag.Day3 </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>

                                    @ViewBag.DailySummary4;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div><div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">@ViewBag.Day4 </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary5;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div><div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">@ViewBag.Day5 </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary6;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div><div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">@ViewBag.Day6 </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @ViewBag.DailySummary7;
                                </th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script type="text/javascript">


        window.onload = function () {

    //    document.getElementById("demo").addEventListener("click", myFunction);

    //function myFunction() {


        //var Pressure = [ViewBag.Pressure];
        var chart1 = new CanvasJS.Chart("chartPressure", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Pressure"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Pressure"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Pressure),
                    }
                ]
            });



            //var Temperature = [ViewBag.Temperature];
            var chart2 = new CanvasJS.Chart("chartTemperature", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Temperature"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Temperature"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Temperature:</b>",
                        xValueType: "dateTime",
                        dataPoints: @Html.Raw(ViewBag.Temperature),
                    }
                ]
            });


            //var Dewpoint = [ViewBag.Dewpoint];
            var chart3 = new CanvasJS.Chart("chartDewpoint", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Dewpoint"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Dewpoint"
                    }
                ],
                axisY: {
                    includeZero: false,
                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Dewpoint),
                    }
                ]
            });

            //var Humitity = [ViewBag.Humitity]
            var chart4 = new CanvasJS.Chart("chartHumitity", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Humitity"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Humitity"
                    }
                ],
                axisY: {
                    includeZero: false,

                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Humitity),
                    }
                ]
            });

            var chart5 = new CanvasJS.Chart("chartUv", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Uv"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Uv"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Uv),
                    }
                ]
            });

            var chart6 = new CanvasJS.Chart("chartWind", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Wind"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Wind"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Wind)  ,
                    }
                ]
            });

            chart1.render();
            chart2.render();
            chart3.render();
            chart4.render();
            chart5.render();
            chart6.render();

    }

    </script>

    }








</div>