@model WeatherApp.Models.Image

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
    @*        @Html.DisplayNameFor(model => model.ImagePath)*@
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Model.ImageId
        </td>
        <td>
            @Model.Title
        </td>
        <td>
             <p>
                @Html.ActionLink("View full sized Image", "View/" + @Model.ImageId)
            </p>
        </td>

        <td>
            <img src="@Url.Content(@Model.ImagePath)" alt="item.AlternateText" width="250" height="250" multiple />

        </td>

    </tr>

</table>
