@model IEnumerable<WeatherApp.Models.Image>

@{
    ViewBag.Title = "Display";
}

<h2>Images in system</h2>

<p>
    @Html.ActionLink("Add", "Add")
</p>




@foreach (var item in Model)
{

    @Html.Partial("_ViewPartial", item)
}







@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.ImagePath)
        </th>

    </tr>*@




    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ImageId
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.ImagePath

                    <p>
                        @Html.ActionLink("Full Image", "View/" + @item.ImageId)
                    </p>
                </td>

                <td>
                    <img src="@Url.Content(item.ImagePath)" alt="item.AlternateText" width="250" height="250" multiple />

                </td>

            </tr>
        }*@

@*</table>*@
