@model IEnumerable<WeatherApp.Models.Image>

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>




    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ImageId
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>*@
            <td>
                @item.Title
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImagePath)

                </td>*@
            <td>
                @item.ImagePath

                <p>
                    @Html.ActionLink("Full Image", "View/" + @item.ImageId)
                </p>
            </td>

            <td>
                <img src="@Url.Content(item.ImagePath)" alt="item.AlternateText" width="250" height="250" multiple />

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ImageId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ImageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
            </td>
        </tr>
    }

</table>    


@foreach (var item in Model)
{

    @Html.Partial("_ViewPartial", item)
}
