@model WeatherApp.Models.Coordinates

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div class="jumbotron">
    <div class="centered text-center">

        <div class="container">

            @{
                ViewBag.Title = "HistoryWeatherIndex";
            }
            <h2>Past weather</h2>


            <!-- Form,  a tag with a text box(Editor), adds attributes into the text box  -->
            @using (Html.BeginForm())
            {
                <br />

                <input type="text" value="Location" name="reportLocation" />

                <input type="date" name="reportDate" />

                @*@Html.EditorFor(model => model.dtmDate, new { htmlAttributes = new { @class = "datepicker" } })*@
                <br />

                <input type="submit" />

            }

            @*<input data-provide="datepicker" />
                <div class="input-group date" data-provide="datepicker">*@

            @*</div>*@

            <br />






            <div>


                <div id="message">@(new HtmlString(@ViewBag.a))</div>
                <br />
                <br />
                <br />
                <br />
            </div>
            @*<button onclick="myFunction()">See graphs</button>*@



            @*<p id="demo"></p>*@



            @*@{ Html.RenderAction("Index", "Home"); }*@

            @*<div style="display: block">
                @Html.Partial("_PartialIndex", Model)*@
            @*</div>*@





            <div id="chartPressure"></div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />

            <div id="chartHumitity"></div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />

            <div id="chartTemperature"></div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />

            <div id="chartDewpoint"></div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />

            <div id="chartUv"></div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />

            <div id="chartWind"></div>


            <script type="text/javascript">

        window.onload = function () {

    //    document.getElementById("demo").addEventListener("click", myFunction);

    //function myFunction() {


        //var Pressure = [ViewBag.Pressure];
        var chart1 = new CanvasJS.Chart("chartPressure", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Pressure"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Pressure"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Pressure),
                    }
                ]
            });



            //var Temperature = [ViewBag.Temperature];
            var chart2 = new CanvasJS.Chart("chartTemperature", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Temperature"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Temperature"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Temperature:</b>",
                        xValueType: "dateTime",
                        dataPoints: @Html.Raw(ViewBag.Temperature),
                    }
                ]
            });


            //var Dewpoint = [ViewBag.Dewpoint];
            var chart3 = new CanvasJS.Chart("chartDewpoint", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Dewpoint"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Dewpoint"
                    }
                ],
                axisY: {
                    includeZero: false,
                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Dewpoint),
                    }
                ]
            });

            //var Humitity = [ViewBag.Humitity]
            var chart4 = new CanvasJS.Chart("chartHumitity", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Humitity"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Humitity"
                    }
                ],
                axisY: {
                    includeZero: false,

                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Humitity),
                    }
                ]
            });

            var chart5 = new CanvasJS.Chart("chartUv", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Uv"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Uv"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Uv),
                    }
                ]
            });

            var chart6 = new CanvasJS.Chart("chartWind", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Time vs Wind"
                },

                height: 260,
                //width: 320,
                subtitles: [
                    {
                        text: "Time vs Wind"
                    }
                ],
                axisY: {
                    includeZero: false,


                },
                data: [
                    {
                        type: "line",
                        xValueFormatString: "MMM D",
                        yValueFormatString: "# c",
                        toolTipContent: "{x}<br><b>Time:</b> {y}<br><b>Pressurel:</b>",
                        xValueType: "dateTime",

                        dataPoints: @Html.Raw(ViewBag.Wind)  ,
                    }
                ]
            });

            chart1.render();
            chart2.render();
            chart3.render();
            chart4.render();
            chart5.render();
            chart6.render();

    }

            </script>

            }

        </div>
</div>
</div>